<nav class="main-nav">
    <ul>
        <li><a href="/" class="btn btn-default"><span>Головна</span></a></li>
        <li><a href="/students" class="btn btn-default"><span>Студенти</span></a></li>
        <li><a href="/groups" class="btn btn-default"><span>Групи</span></a></li>
        <li><a href="/subject" class="btn btn-default"><span>Предмети</span></a></li>
        <li><a href="/addstudent" class="btn btn-default"><span>Студенти_фільтри</span></a></li>
        <li><a href="/table" class="btn btn-default"><span>Предмети_фільтри</span></a></li>
    </ul>
</nav>