{% include 'include/head.html' %}
{% include 'include/header.html' %}


<div class="rectangle2">
    <a href="/groups" class="btn btn-primary"> Назад</a>
    <div class="content">
        <h2>Створення нової групи - крок 1</h2>
        <p>Введіть назву групи</p>

        <form action="/addgrouptolist" method="POST">
            <label for="name"></label>
            <input type="text" name="name" id="name" required>
            <button type="submit" class="btn btn-success">Зберегти</button>
        </form>

    </div>
</div>
<!-- Блок для виведення повідомлень про успішне збереження або помилку -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% include 'include/footer.html' %}