{% include 'include/head.html' %}

{% include 'include/header.html' %}


        <div class="background-image"></div>
		<div class="rectangle1">
            <div class="content">
                <h2>Ласкаво просимо в систему ведення обліку успішності студентів!</h2>
                <p>Створити систему ведення обліку успішності студентів з моменту вступу на освітню програму до моменту відрахування з неї. Система має показувати інформацію по предметам, кількість здач/перездач, накази на зарахування/відрахування/ поновлення/ направлення на практику. Формувати звіти по успішності студентів факультету, спеціальності/ абсолютна успішність, якісна успішність.</p>
            </div>
		</div>

{% include 'include/footer.html' %}

